/* Ubuntu font */
@font-face {
    font-family: 'Ubuntu';
    src:    url('../font/Ubuntu-R-hinting.woff2') format('woff2'),
            url('../font/Ubuntu-R-hinting.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu';
    src:    url('../font/Ubuntu-RI-hinting.woff2') format('woff2'),
            url('../font/Ubuntu-RI-hinting.ttf') format('ttf');
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'Ubuntu';
    src:    url('../font/Ubuntu-B-hinting.woff2') format('woff2'),
            url('../font/Ubuntu-B-hinting.ttf') format('ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu';
    src:    url('../font/Ubuntu-BI-hinting.woff2') format('woff2'),
            url('../font/Ubuntu-BI-hinting.ttf') format('ttf');
    font-weight: bold;
    font-style: italic;
}
